:root {
    --color1: rgb(219, 144, .5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11, 194, 211, 0.623);
    --fondo: #f2f2f2;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}

html {
    font-family: sans-serif;
}


body {
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #646464;
    background-color: #fff;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

/* Preloader */

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #dfc;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfc transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: linear-gradient(to bottom,
            rgba(61, 57, 51, 0.6),
            rgba(23, 163, 116, 0.6),
            rgba(7, 109, 150, .45)), url(Pictures/IMG_5733.JPG);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    position: fixed;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5)
}

.nav1 {
    background: transparent;
    height: 80px;
    color: white;
}

.nav2 {
    background: var(--fondo);
    height: 100px;
    color: black;
}

.nav-containers {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: inherit;
    overflow: hidden;
}

nav .links a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .links a:hover {
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
}

.icon {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

.texts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    overflow: hidden;
    text-align: center;
}

.texts>h1 {
    font-size: 80px;
    font-weight: bold;
}

.texts>h2 {
    font-size: 30px;
    font-weight: 300;
}

/* Main */

.container {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
}


.first-title {
    color: rgb(4, 4, 82);
    border-bottom: 3px solid #4a11a5;
    text-transform: capitalize;
    display: block;
}

.second-title {
    font-weight: bold;
    color: black;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.container>h2 {
    font-weight: bold;
    color: black;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.container>blockquote {
    font-size: 28px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: -0.4px;
    color: #4FE2C1;
    border-left: 2px solid #4FE2C1;
    padding: 0 0 0 20 px;
    margin: 0;
    position: relative;
    text-align: left;
}

.container>h3 {
    font-weight: bold;
    color: black;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.container>p {
    font-weight: 300;
    width: 85%;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
    display: block;
}

.container>ol {
    width: 85%;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.container>ul {
    width: 85%;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

li {
    padding-bottom: 5px;
}

figure {
    font-size: x-small;
    max-width: 900px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.vid {
    font-size: x-small;
    max-width: 900px;
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

figcaption {
    text-transform: uppercase;
    font-weight: bold;
}

/* Footer */

footer {
    background: url(img/teclado.jpg);
    padding-top: 50px;
    overflow: hidden;
}

footer p {
    text-align: center;
    color: var(--color1);
    margin-top: var(--espacios);
}

footer a {
    color: var(--color1);
}

.icons {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

.fab {
    font-size: 60px;
    color: #FFF;
    margin-bottom: var(--espacios);
    display: inline-block;
}

@media screen and (max-width: 950px) {

    figcaption {
        width: 90%;
    }

    figure {
        width: 90%;
    }

    figure>img {
        width: 95%;
    }

    .vid {
        width: 95%;
    }

    .container>p {
        font-weight: 500;
        width: 95%;
    }

    .container>ol {
        font-weight: 500;
        width: 95%;
    }

    .container>ul {
        width: 95%;
    }
}